<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.time_select :duration %>
  </div>

  <div class="field">
    <%= form.label :to_airport_id %>
    <%= form.number_field :to_airport_id %>
  </div>

  <div class="field">
    <%= form.label :from_airport_id %>
    <%= form.number_field :from_airport_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
