<p id="notice"><%= notice %></p>

<h1>Flights</h1>
<%= form_with(url: "/flights", method: "get", local: true) do %>
  <p>Origin</p>
  <%= select_tag(:from_airport_id, options_for_select(@airport_options, selected: params[:from_airport_id] ), include_blank: true)%>
  <p>Destination</p>
  <%= select_tag(:to_airport_id, options_for_select(@airport_options, selected: params[:to_airport_id] ), include_blank: true) %>
  <p>Day</p>
  <%= select_tag(:day, options_for_select(@day_options, selected: params[:day]), include_blank: true ) %>
  <p>Month</p>
  <%= select_tag(:month, options_for_select(@month_options, selected: params[:month]), include_blank: true ) %>
  <p>Year</p>
  <%= select_tag(:year, options_for_select(@year_options, selected: params[:year]), include_blank: true ) %>
  <p>Number of Passengers</p>
  <%= select_tag(:no_of_passengers, options_for_select(1..4, selected: params[:no_of_passengers]))%>
  <%= submit_tag("Search") %>
<% end %>



<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Duration</th>
      <th>From airport</th>
      <th>To airport</th>
      <th colspan="3"></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    
      <%= form_with(url: "/bookings/new", method: "get", local: true) do |f| %>
      <% @matched_flights.each do |flight| %>
        <tr>
          <td><%= flight.time %></td>
          <td><%= flight.duration.strftime('%kh %Mm') %></td>
          <td><%= flight.from_airport.code %></td>
          <td><%= flight.to_airport.code %></td>
          <td> <%= radio_button_tag(:flight_id, flight.id, {checked: true}) %></td>
        </tr>
        
       
      <% end %>
      <%= hidden_field_tag :no_of_passengers, params[:no_of_passengers] %>
      <%= submit_tag("Submit")%>
    <% end %>
  </tbody>
</table>

<br>
