<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @flight.time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @flight.duration %>
</p>

<p>
  <strong>To airport:</strong>
  <%= @flight.to_airport_id %>
</p>

<p>
  <strong>From airport:</strong>
  <%= @flight.from_airport_id %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
