<div class="columns">
  <div class="column">
    <div class="columns">
      <div class="column">
          <div class="box">
            <div class="columns">

              <div class="column">
                <div class="icon-heading">
                  <span class="icon has-text-primary"><i class="fa fa-plane-departure" aria-hidden="true"></i></span>
                  <h2 class="subtitle has-text-primary"> Origin</h2>
                </div>
                </br></br>
                <p class="has-text-primary has-text-weight-bold"><%= @booking.flight.from_airport.code %></p>
                <p class="has-text-info"><%= @booking.flight.from_airport.location %></p>
              </div>

              <div class="column">
                <div class="icon-heading">
                  <span class="icon has-text-primary"><i class="fa fa-plane-arrival" aria-hidden="true"></i></span>
                  <h2 class="subtitle has-text-primary">Destination</h2>
                </div>
                </br></br>
                <p class="has-text-primary has-text-weight-bold"><%= @booking.flight.to_airport.code %></p>
                <p class="has-text-info"><%= @booking.flight.to_airport.location %></p>
              </div>

              <div class="column">
                <div class="icon-heading">
                  <span class="icon has-text-primary"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                  <h2 class="subtitle has-text-primary">Date</h2>
                </div>
                </br></br>
                <p class="has-text-primary has-text-weight-semibold "><%= @booking.flight.time.strftime("%b %-d, %Y") %></p>
                <p class="has-text-primary"><%= @booking.flight.time.strftime("%l:%M %p") %></p>
              </div>

              <div class="column">
                <div class="icon-heading">
                  <span class="icon has-text-primary"><i class="fa fa-clock" aria-hidden="true"></i></span>
                  <h2 class="subtitle has-text-primary">Duration</h2>
                </div>
                </br></br>
                <p class="has-text-primary has-text-weight-semibold"><%= @booking.flight.duration.strftime('%kh %Mm') %></p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>