<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Open+Sans&display=swap" rel="stylesheet"> 
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/31b3a4ba31.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
      <div class="notification is-primary is-light global-notification">
        <p class="notice"><%= notice %></p>
      </div>  
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification">
        <p class="alert"><%= alert %></p>
      </div>
  <% end %>

  <nav class="navbar">
    <div class="navbar-brand">
      <%= link_to root_path, class: 'navbar-item' do%>
        <h1 class="title is-5 has-text-success">Flight Booker</h1>
      <% end %>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <%= link_to 'All Flights', root_path, class: "button is-primary" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  

    <%= yield %>
  </body>
</html>
